@import url(https://fonts.googleapis.com/css?family=Play);

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

html, body
  margin 0
  padding 0
  height 100%
  width 100%
  overflow hidden
  background #f5f5f5
  font-family 'Play', sans-serif

//#bms
//  position relative
//  width 800px
//  height 100%

.note
  z-index 9999
  position absolute
  height 10px

.note-white
  background #fff
  width 20px
  border solid 1px #333

.note-black
  background #34495E
  width 20px
  border solid 1px #34495E

.note-turntable
  background #C0392B
  width 40px

#decision-line
  position absolute
  top 500px
  //left 300px
  width 260px
  height 12px
  background #E74C3C

#bpm
  position absolute
  top 30px
  font-family 'Play', sans-serif
  font-size 24px
  color #BDC3C7

.judge
  position absolute
  width 200px
  height 20px
  left 380px
  top 420px
  font-size 42px
  color #34495E
  z-index 9999
  
.key
  height 36px
  width 24px
  border-radius 2px
  position absolute



for id in 0 ... 8
  .key-id{id}
    left : id  * 30px // + 300px
    if id % 2 is 0
      top 540px
      background #FFF
      border-top 1px solid #D5D5D5
      box-shadow 0 0 25px #E8E8E8 inset, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333333
    else
      top 520px
      background #222
      border-top 1px solid #222222
      box-shadow 0 0 25px #333333 inset, 0 1px 0 #000000, 0 2px 0 #222222, 0 2px 3px #333333

.key-turntable
  height 48px
  width 48px
  border-radius 50%
  position absolute
  background url(../assets/vinyl.png)
  background-size cover
  box-shadow none
  border none

  //-moz-animation spin 1.5s linear infinite
  //-ms-animation spin 1.5s linear infinite
  //-o-animation spin 1.5s linear infinite
  //animation spin 1.5s linear infinite

@-webkit-keyframes spin 
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}

@-moz-keyframes spin
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}

@keyframes spin
  0% {transform: rotate(0deg);}
  100% {transformd: rotate(360deg);}
